<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">About Us</h1>
            </div>
        </div>
    </div>

<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead">This is the world's leading portal for<br>easy and quick </p>
            </div>
            <div class="col-md-6">
                <h1 class="strong">What We Do</h1>
                <p>We develop a web based portal where Purchasers, Planners, Sales</p>
                <p>can view Supplier deliveries in one portal with basic analysis</p>
                <p>to enhance productivity of purchaser</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 team-box">
        <div class="team-img thumbnail">
            <img src="~/images/Welcome.jpg" />
            <div class="team-content">
                <h3>TSH COMPANY</h3>
                <div class="border-team"></div>
                <p>
                    Testing
                    aims to primarily address the reason why the business does what it does. 
                    While it outlines the overall direction of the business it may also incorporate 
                    specific aspects like key focus areas, strategic partnerships, and target audiences.
                </p>

            </div>
        </div>
    </div>


    <div class="footer-section">
        <div class="footer">
            <div class="container">
                <div class="col-md-4 footer-one">
                    <div class="social-icons">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="mailto:TSH@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>  