<h1>About Us</h1>

<link href="~/lib/datatables/css/jquery.dataTables1.min.css" rel="stylesheet" />
<script src="~/lib/datatables/js/jquery.dataTables1.min.js"></script>
<p>

    Develop a web based portal where Purchasers, Planners, Sales can view Supplier deliveries in one portal with basic analysis to enhance productivity of purchaser
</p>
<img src="~/images/Welcome.jpg" />