<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="lg-text">About Us</h1>
        </div>
    </div>
</div>

<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead">
                    This is our company's leading portal for easy and quick. We develop a web based portal where Purchasers, Planners, Sales
                    can view Supplier deliveries in one portal with basic analysis to enhance productivity of purchaser
                </p>
            </div>

        </div>

    </div>

</div>


<div class="col-md-4 team-box">
    <div class="team-img thumbnail">

        <img src="~/images/Staff.jpg" />
        <div class="team-content">
            <h3>Our Principles</h3>
            <p>Our principles are what we stand for. They are beliefs we hold deeply </p>
            <div class="border-team"></div>
            <p>
                <strong>Serve Everyone</strong>
                We work to make technology accessible to everyone, and our business model is ads so our services can be free
            </p>
            <p>
                <strong>Keep People Safe and Protect Privacy</strong>
                We have a responsibility to promote the best of what people can do together by keeping people safe and preventing harm
            </p>

        </div>
    </div>
</div>


<div class="col-md-4 team-box">
    <div class="team-img thumbnail">
        <img src="~/images/Welcome.jpg" />
        <div class="team-content">
            <h3>TSH Synergy Pte Ltd</h3>
            <div class="border-team"></div>
            <p>
                <strong>Our Culture</strong>
                We are constantly solving problems and working together to connect people with us.
                That is why it is important that our workforce reflects the diversity of the people we serve.
                Our staff helps us to make better decisions and create better experiences for everyone.
                That’s why we’re constantly improving our rules and processes, technology and tools.
            </p>

            <div class="social-icons">
                <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="mailto:TSH@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
    </div>
</div>


<div class="col-md-4 team-box">
    <div class="team-img thumbnail">
        <img src="~/images/Trust.jpg" />
        <div class="team-content">
            <h3>Our Principles</h3>
            <p>Our principles are what we stand for. They are beliefs we hold deeply </p>
            <div class="border-team"></div>
            <p>
                <strong>Earning people’s trust</strong>
                We must always be earning your trust. Our behavior, and our work habits should all be transparent and to the point
            </p>
            <p>
                <strong>Build Connection and Community</strong>
                Our services help people connect, and when they’re at their best, they bring people closer together
            </p>

        </div>
    </div>
</div>