<h1>About Us</h1>

<p>

    Develop a web based portal where Purchasers, Planners, Sales can view Supplier deliveries in one portal with basic analysis to enhance productivity of purchaser
</p>
<img src="~/images/About.jpg" />